@media screen and (min-width: 375px) {
    img {
        width: 350PX;
    }

    section {
        width: -30%;
    }

    .number-min {
        width: 100%;
    }

    .number-max {
        width: 100%;
    }

    button {
        width: 50%;
    }
}

@media screen and (min-width: 412px) {


    section {
        width: -30%;
    }

    .number-min {
        width: 100%;
    }

    .number-max {
        width: 100%;
    }

    button {
        width: 50%;
    }

}



@media screen and (min-width: 360px) {

    img {
        width: 350PX;
    }

    section {
        width: -30%;
    }

    .number-min {
        width: 100%;
    }

    .number-max {
        width: 100%;
    }

    button {
        width: 50%;
    }

}